@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    margin: 0;
    grid-column: 1;
    grid-row: 1 / 5;
    font-size: 20px;
    padding: 20px 0 0 30px;
    cursor: pointer;
    font-size: 1.4rem;
}

li {
    list-style-type: none;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar p {
    margin-left: 20px;
}

.sidebar img {
    width: 1.5rem;
}

#dashboard {
    font-weight: 700;
    font-size: 2.3rem;
}

#dashboard > img {
    width: 3rem;
}

#settings, #home {
    margin-top: 50px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 10px 2px 5px rgb(184, 182, 182);
}

.header div {
    display: flex;
    align-items: center;
}

#header-one {
    margin-top: 20px;
    gap: 20px;
    display: flex;
}

.header img {
    cursor: pointer;
}

.header #profile{
    width: 3rem;
}

.header input {
    width: 40rem;
    border-radius: 50px;
    outline: none;
    padding: 5px 5px 5px 15px;
}

#header-one p {
    font-weight: 700;
}

#bell {
    margin-left: 100px;
}

#header-two {
    display: flex;
    align-items: center;
    align-content: center;
}

#header-two img {
    width: 5rem;
}